.edit__container {
    width: 100%;
    max-width: 1320px;
    margin: 247px auto;
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.edit__data__box ul li, .edit__table__box ul li, .edit__content__box ul li {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.edit__data__box ul li:nth-child(odd), 
.edit__table__box ul li:nth-child(odd), 
.edit__content__box ul li:nth-child(odd),
.edit__img__box ul li:nth-child(odd) {
    font-size: 16px;
    width: 300px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.edit__data__box ul li:nth-child(even),
.edit__table__box ul li:nth-child(even),
.edit__content__box ul li:nth-child(even),
.edit__img__box ul li:nth-child(even) {
    width: calc(100% - 300px);
    text-align: left;
}

.edit__img__box ul li {
    padding: 20px 0;
}

.edit__table__box ul,
.edit__content__box ul,
.edit__img__box ul,
.edit__btn__box ul,
.edit__data__box ul {
    display: flex;
}

.edit__data__box em {
    font-size: 16px;
}

.edit__table__title {
    font-size: 20px;
    font-weight: 400;
    padding-right: 60px;
}

.edit__content__title {
    font-size: 20px;
    font-weight: 400;
    padding-right: 60px;
}

.edit__img__title {
    font-size: 20px;
    font-weight: 400;
    padding-right: 60px;
}

.edit__img {
    width: 100%;
}

.edit__img__box2 {
    display: flex;          /* 자식 요소를 가로로 나열 */
    overflow-x: auto;      /* 가로 스크롤 가능 */
    white-space: nowrap;   /* 줄 바꿈 방지 */
}

.edit__img__item {
    min-width: 220px;      /* 각 아이템의 최소 너비 */
    margin-right: 10px;    /* 아이템 간의 간격 */
    background-color: #F0F0F0; /* 배경색 */
    padding: 10px;         /* 패딩 */
    border: 1px solid #ccc; /* 테두리 */
    position: relative;
}

/* input type=file style */
.filebox .uploadName {
    width: 500px; /* 가로 크기 */
    display: inline-block;
    height: 42px;
    font-size: 16px;
    padding: 0 15px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    color: #999999;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}

.filebox {
    display: flex;
    justify-content: center
}

.filebox label {
    width: 130px;
    height: 42px;
    border-radius: 5px;
    display: inline-block;
    padding: 0px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-left: 16px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

 /* 기존 디자인 삭제 */
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.edit__img__btn {
    border-radius: 50%;
    position: absolute;
    background-color: #000;
    color: #ffff;
    width: 30px;
    height: 30px;
    top: 0%;
    left: 95%;
    z-index: 10;
    cursor: pointer;
}

.edit_btn__box {
    margin-top: 30px;
    margin-bottom: 60px;
}

.edit_btn__box ul {
    display: flex;
    justify-content: center;
}
.edit__ok__btn {
    width: 130px;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--MainBlack);
    color: var(--MainWhite);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.edit__ok__btn:hover {
    background-color: var(--MainColor);
    color: var(--MainWhite);
    transition: all 0.3s;
}

.edit__no__btn {
    width: 130px;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: transparent;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    cursor: pointer;
}

.edit__no__btn:hover {
    border: 1px solid var(--MainColor);
    color: var(--MainColor);
    transition: all 0.3s;
}

/* 테이블 CSS */

.table {
    margin-top: 12px;
    overflow: auto;
    max-height: 280px;
}

.status__table thead {
    position: sticky;
    top: 0px;
    margin: 0;
}

.status__table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid #000;
}

.status__table thead tr {
    background-color: #F8F8F8;
    border-bottom: 1px solid #ddd;
}


.status__table thead tr th {
    height: 50px;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
}

.status__table tbody tr {
    border-bottom: 1px solid #ddd;
}

.status__table tbody tr:hover {
    background-color: #fdfdfd;
}

.status__table tbody tr td {
    height: 50px;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.status__table tbody tr td:nth-child(1) {
    width: 130px;
    text-align: center;
}

.status__table tbody tr td:nth-child(2) {
    width: calc(100% - 600px);
    text-align: left;
}

.status__table tbody tr td:nth-child(3) {
    width: 300px;
    text-align: left;
}

.status__table tbody tr td button{
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 수직 중앙 정렬 */
    right: 0; /* 오른쪽 끝으로 붙임 */
    transform: translateY(-50%); /* 수직 중앙 정렬을 위한 조정 */
    z-index: 10;
    cursor: pointer;
}

/* 반응형 */

/* ========== 1380px 기준 ========== */
@media screen and (max-width: 1380px) { 
    .edit__container  {
        width: 90%;
        }
}

/* ========== 1000px 기준 ========== */
@media screen and (max-width: 1000px) {
    /* 공통 상단 문구 */
    .edit__container {
        padding-top: 120px;
        margin: 0 auto 120px auto;
    }
    
}

.edit__ok__btn {
    font-size: 18px;
}

.edit__no__btn {
    font-size: 18px;
}

/* ========== 768px 기준 ========== */
@media screen and (max-width: 768px) {
    .edit__container {
        padding-top: 100px;
        margin: 0 auto 100px auto;
    }
    
    .edit__ok__btn {
        width: 100px;
        font-size: 16px;
    }
        
    .edit__no__btn {
        width: 100px;
        font-size: 16px;
    }

    .edit__data__box ul li:nth-child(odd), 
    .edit__table__box ul li:nth-child(odd), 
    .edit__content__box ul li:nth-child(odd),
    .edit__img__box ul li:nth-child(odd) {
        font-size: 18px;
        width: 100px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .edit__data__box ul li:nth-child(even),
    .edit__table__box ul li:nth-child(even),
    .edit__content__box ul li:nth-child(even),
    .edit__img__box ul li:nth-child(even) {
        width: calc(100% - 100px);
        text-align: left;
    }
}

/* ========== 480px 기준 ========== */
@media screen and (max-width: 480px) {
    .edit__container {
        padding-top: 80px;
        margin: 0 auto 80px auto;
    }

    .edit__ok__btn {
        width: 70px;
        font-size: 14px;
    }
    
    .edit__no__btn {
        width: 70px;
        font-size: 14px;
    }

    .edit__table__box ul,
    .edit__data__box ul,
    .edit__content__box ul,
    .edit__img__box ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .edit__data__box ul li:nth-child(even),
    .edit__table__box ul li:nth-child(even),
    .edit__content__box ul li:nth-child(even),
    .edit__img__box ul li:nth-child(even) {
        width: calc(100%);
        text-align: center;
        padding: 0 auto;
    }

    .edit__data__box ul li, 
    .edit__table__box ul li, 
    .edit__content__box ul li {
        padding: 20px 0;
        border-bottom: none;
    }

    .edit__table__box table thead th, .edit__table__box table tbody td {
        font-size: 12px;
        padding: 5px;
        width: 30%;
    }

    .status_table tbody tr td:nth-child(1) {
        width: 130px;
    }
    
    .status_table tbody tr td:nth-child(2) {
        width: calc(100% - 600px);
        text-align: center;
    }
    
    .status_table tbody tr td:nth-child(3) {
        width: 300px;
    }


}